/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */

@font-face {
	font-family: 'FuturaDemiC';
	src: url("/fonts/FuturaDemiC.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url("/fonts/FuturaMediumC.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url("/fonts/FuturaLightC-Italic.woff") format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url("/fonts/FuturaMediumC-Italic.woff") format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url("/fonts/FuturaLightC.woff") format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url("/fonts/FuturaDemiC-Italic.woff") format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url("/fonts/FuturaBookC-Italic.woff") format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url("/fonts/FuturaBookC.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

body{
	font-family: "FuturaLightC";
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: white;
	background-color: black;
}

.wrapper{
	max-width: 1102px;
	margin: 0 auto;
}

/* Header styles */

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header_wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 22px;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
}

.header_item{
	margin-right: 82px;
}
.header_item:last-child{
	margin-right: 0;
}

.header_link{
	font-size: 20px;
	line-height: auto;
	color: white;
	text-decoration: none;
}

.button-1 {
	background-color: rgba(0, 0, 0, 0);
	border: 1.5px solid white;
	border-radius: 45px;
	color: white;
	font-family: "FuturaDemiC";
	font-size: 20px;
	text-align: center;
	width: 89px;
	height: 39px;
}
.header_nav.mobile{
	display: none;
}
/* Header styles end */

/* Start section styles */

.intro{
	min-height: 100%;
	background: url(../img/intro-bg.jpg) no-repeat bottom;
	background-size: cover;
	padding-top: 375px;
	margin-bottom: 51px;
}

.intro-title{
	font-family: "FuturaDemiC";
	font-size: 64px;
	text-align: center;
	margin-bottom: 28px;
}
.intro-title span{color: #FFD600}
.intro-subtitle{
	max-width: 720px;
	margin: auto;
	font-family: "FuturaLightC";
	font-size: 32px;
	text-align: center;
	margin-bottom: 31px;
}
.get_started{
	background: rgb(255,151,75);
	background: linear-gradient(150deg, rgba(255,151,75,1) 0%, rgba(255,214,0,1) 100%);
	border: none;
	border-radius: 45px;
	box-sizing: border-box;
	color: black;
	font-family: "FuturaDemiC";
	font-size: 32px;
	text-align: center;
	width: 274px;
	height: 70px;
	margin: 0 auto;
	display: block;
	margin-bottom: 325px;
}
.arrow-down{
	margin: 0 auto;
	display: block;
}

/* Start section styles end */

/* About section */

.about-title{
	font-family: "FuturaDemiC";
	font-size: 64px;
	text-align: center;
	margin-bottom: 51px;
}

.about-grid{
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 59px;
	margin-bottom: 180px;
}

.about-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 40px
}

.about-text-title{
	font-family: "FuturaDemiC";
	font-size: 48px;
	margin-bottom: 16px;
}

.about-text-subtitle{
	font-family: "FuturaBookC";
	font-size: 24px;
	margin-bottom: 50px;
}
.about-text-subtitle:last-child{
	margin-bottom: 0;
}
.about-pic{
	width: 100%;
	max-width: 530px;
	height: 100%;
	border-radius: 25px;
	box-shadow: 0px 0px 25px rgb(255, 151, 75, 25%);
}

.about-pic.mobile{
	display: none;
}

/* About section end */

/* How-to section */

.how-to_block{
	background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%), #D9D9D9;
	border-radius: 45px;
	margin-bottom: 180px;
}

.how-to_title{
	font-family: "FuturaDemiC";
	font-size: 64px;
	color: black;
	text-align: center;
	padding-top: 83px;
	margin-bottom: 15px;
}

.how-to_line{
	width: 25%;
	height: 2px;
	border: none;
	text-align: center;
	color: black;
	background-color: black;
	margin-bottom: 16px;
}

.how-to_subtitle{
	font-family: "FuturaBookC";
	font-size: 36px;
	color: black;
	max-width: 532px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 52px;
}

.how-to_learn-more{
	background-color: transparent;
	border: 2px solid black;
	border-radius: 45px;
	color: black;
	font-family: "FuturaBookC";
	font-size: 32px;
	text-align: center;
	width: 206px;
	height: 64px;
	display: block;
	margin: 0 auto;
	margin-bottom: 52px;
}

.how-to_pic{
	border-radius: 20px 20px 0px 0px;
	max-width: 720px;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

/* How-to section end */

/* Responses section */

.responses-title{
	font-family: "FuturaDemiC";
	font-size: 64px;
	color: white;
	text-align: center;
	margin-bottom: 60px;
}

.responses-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
	margin-bottom: 180px;
}

.responses-card{
	background-color: white;
	border-radius: 45px;
	max-width: 340px;
}

.responses-img{
	border-radius: 72.5px;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 18px;
}

.response-name{
	font-family: "FuturaDemiC";
	font-size: 36px;
	color: black;
	text-align: center;
	margin-bottom: 18px;
}

.response-text{
	font-family: "FuturaBookC";
	font-size: 32px;
	color: black;
	max-width: 254px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}

/* Responses section end */

/* Action section */

.action-block{
	background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%), #D9D9D9;
	border-radius: 45px 45px 0px 0px;
	padding-bottom: 90px;
}

.action-title{
	font-family: "FuturaDemiC";
	font-size: 64px;
	color: black;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 18px;
}

.action_line{
	width: 15%;
	height: 2px;
	border: none;
	text-align: center;
	color: black;
	background-color: black;
	margin-bottom: 60px;
}

.action-grid{
	display: grid;
	gap: 60px;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.action-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin: 0 auto;
}

.action-text{
	font-family: "FuturaDemiC";
	font-size: 36px;
	color: black;
	text-align: left;
	margin-bottom: 18px;
}

.action-subtext{
	font-family: "FuturaBookC";
	font-size: 36px;
	color: black;
	text-align: left;
}

.action-download{
	background: rgb(255,151,75);
	background: linear-gradient(150deg, rgba(255,151,75,1) 0%, rgba(255,214,0,1) 100%);
	border: none;
	border-radius: 45px;
	box-sizing: border-box;
	color: black;
	font-family: "FuturaDemiC";
	font-size: 36px;
	text-align: center;
	max-width: 381px;
	width: 100%;
	min-height: 92px;
	margin: 0 auto;
	display: block;
}
.action-download:hover{
	cursor: pointer;
}

.link{
	text-decoration: none;
}

.action-learnmore{
	background: transparent;
	border: 2px solid black;
	border-radius: 45px;
	box-sizing: border-box;
	color: black;
	font-family: "FuturaDemiC";
	font-size: 36px;
	text-align: center;
	max-width: 381px;
	width: 100%;
	min-height: 92px;
	margin: 0 auto;
	display: block;
}

/* Action section end */

/* Footer section */

.footer-bg{
	background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%), #D9D9D9;
}

.footer-main{
	background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%);
	border-radius: 25px 25px 0px 0px;
	line-height: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 25px;
	padding-right: 25px;
}

.footer-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1052px;
}

.footer-text{
	font-family: "FuturaBookC";
	font-size: 20px;
	color: black;
	align-self: center;
	justify-self: center;
}

.footer-social{
	align-self: center;
	justify-content: end;
	display: flex;
	flex-flow: row;
	gap: 24px
}

/* Footer section end */

@media(max-width:1024px){
	.wrapper{
		max-width: 920px;
		margin: 0 auto;
	}
	.responses-grid{
		gap: 20px;
	}
}

@media(max-width:550px){
	.wrapper{
		max-width: 335px;
		margin: 0 auto;
	}
	.header_nav.mobile{
		display: block;
	}
	.button-1 {
		background-color: transparent;
		border: none;
		width: auto;
		height: auto;
	}
	.header_nav.desktop{
		display: none;
	}

	/* Intro Mobile */

	.intro{
		background: url(../img/intro-bg-mobile.jpg) no-repeat bottom;
		background-size: cover;
		padding-top: 250px;
		margin-bottom: 51px;
	}
	
	.intro-title{
		font-size: 48px;
		text-align: left;
		margin-bottom: 20px;
	}
	.intro-subtitle{
		font-size: 20px;
		text-align: left;
		max-width: 290px;
		margin: 0;
		margin-bottom: 55px;
	}
	.get_started{
		font-size: 24px;
		width: 217px;
		height: 53px;
		
		margin-bottom: 212px;
	}
	.arrow-down{
		margin: 0 auto;
		display: block;
	}

	/* About Mobile */

	.about-title{
		font-size: 40px;
		margin-bottom: 33px;
	}
	.about-grid{
		display: grid;
		grid-template-rows: 1fr;
		gap: 33px;
		margin-bottom: 60px;
	}
	.about-row{
		display: flex;
		flex-flow: column-reverse;
		gap: 40px
	}
	.about-row:last-child{
		flex-flow: column;
	}
	.about-text-title{
		font-size: 24px;
		margin-bottom: 8px;
	}
	.about-text-subtitle{
		font-size: 16px;
		margin-bottom: 25px;
	}
	.about-text-subtitle:last-child{
		margin-bottom: 0;
	}
	.about-pic{
		display: none;
	}
	.about-pic.mobile{
		display: block;
	}

	/* How To Mobile */

	.how-to_block{
		background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%), #D9D9D9;
		border-radius: 45px;
		margin-bottom: 60px;
	}
	
	.how-to_title{
		font-family: "FuturaDemiC";
		font-size: 40px;
		color: black;
		max-width: 217px;
		margin: 0 auto;
		text-align: center;
		padding-top: 83px;
		margin-bottom: 23px;
	}
	
	.how-to_line{
		width: 25%;
		height: 2px;
		border: none;
		text-align: center;
		color: black;
		background-color: black;
		margin-bottom: 26px;
	}
	
	.how-to_subtitle{
		font-family: "FuturaBookC";
		font-size: 20px;
		color: black;
		max-width: 217px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 57px;
	}
	
	.how-to_learn-more{
		border: 1px solid black;
		font-size: 20px;
		width: 140px;
		height: 46px;
		margin-bottom: 56px;
	}

	.how-to_pic{
		max-width: 250px;
		max-height: 110px;
	}

	/* Responses Mobile */

	.responses-title{
		font-size: 40px;
		margin-bottom: 23px;
	}
	
	.responses-grid{
		display: flex;
		flex-flow: column;
		gap: 15px;
		flex-flow: row wrap;
		margin-bottom: 60px;
	}
	
	.responses-card{
		display: grid;
		grid-template-columns: 25% 75%;
		align-items: center;
		gap: 10px;
		padding: 10px;
		background-color: white;
		border-radius: 30px;
		max-width: 340px;
		min-height: 100px;
	}
	
	.responses-img{
		border-radius: 20px;
		padding-top: 0;
		display: flex;
		width: 62px;
		height: 62px;
		margin: 0 auto;
		margin-bottom: 0;
	}
	
	.response-name{
		display: none;
	}
	
	.response-text{
		font-size: 15px;
		max-width: 254px;
		text-align: left;
		padding-right: 15px;
		margin: 0 auto;
		margin-bottom: 0;
	}
	
	/* Action Mobile */

	.action-title{
		font-size: 40px;
		margin-bottom: 8px;
	}
	.action_line{
		margin-bottom: 50px;
	}
	.action-grid{
		max-width: 257px;
		gap: 50px;
	}
	.action-row{
		display: flex;
		flex-flow: column;
		gap: 20px;
	}
	.action-text{
		font-size: 24px;
		text-align: center;
		margin-bottom: 8px;
	}
	
	.action-subtext{
		font-size: 20px;
		text-align: center;
	}
	
	.action-download{
		font-size: 24px;
		min-width: 217px;
		min-height: 54px;
	}
	
	.action-learnmore{
		border: 1px solid black;
		font-size: 24px;
		min-width: 217px;
		min-height: 54px;
	}

	/* Footer Mobile */
	
	.footer-text{
		font-family: "FuturaBookC";
		font-size: 12px;
		color: black;
		align-self: center;
		justify-self: center;
	}
	
	.footer-social{
		align-self: center;
		justify-content: end;
		display: flex;
		flex-flow: row;
		gap: 10px
	}

	.footer-social-pic{
		width: 15px;
		height: 15px;
	}

	.footer_logo-pic{
		width: 20px;
		height: 20px;
	}
}

/* Download page */

.intro-download{
	padding-top: 220px;
}

.download_block{
	background: linear-gradient(117.63deg, rgba(0, 255, 194, 0.3) 0%, rgba(0, 255, 194, 0) 99.51%), linear-gradient(242.03deg, rgba(251, 255, 75, 0.3) 0%, rgba(251, 255, 75, 0) 100%), #D9D9D9;
	border-radius: 45px;
	margin-bottom: 150px;
}

.intro-title.download{
	color: black;
	padding-top: 167px;
}
.intro-subtitle.download{
	color: black;
	font-family: "FuturaBookC";
	font-size: 36px;
	margin-bottom: 72px;
}
.download-buttons{
	display: flex;
	justify-content: center;
	gap: 175px;
	padding-bottom: 167px;
}
.download-button{
	height: 60px;
	width: 205px;
	border-radius: 45px;
	background-color: transparent;
	font-family: "FuturaBookC";
	font-size: 36px;
}

.info-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	margin-bottom: 100px;
}
.info-block-title{
	font-family: "FuturaDemiC";
	font-size: 48px;
	margin-bottom: 16px;
}
.info-block-title.lower{
	font-size: 32px;
}
.info-block-text{
	font-family: "FuturaBookC";
	font-size: 24px;
}
.info-title{
	display: flex;
	justify-content: center;
	font-family: "FuturaDemiC";
	font-size: 48px;
	margin-bottom: 40px;
}





.footer-bg.download{
	border-radius: 25px 25px 0px 0px;
}

@media(max-width: 550px){
	/* Download Page Mobile */

	.intro-download{
		padding-top: 100px;
	}
	
	.download_block{
		margin-bottom: 100px;
	}
	
	.intro-title.download{
		text-align: center;
		margin: auto;
		max-width: 257px;
		padding-top: 157px;
		margin-bottom: 26px;
	}
	.intro-subtitle.download{
		max-width: 257px;
		font-family: "FuturaBookC";
		font-size: 20px;
		margin: auto;
		margin-bottom: 82px;
		text-align: center;
	}
	.download-buttons{
		gap: 19px;
		padding-bottom: 157px;
	}
	.download-button{
		height: 35px;
		width: 120px;
		font-size: 20px;
	}
	
	.info-grid{
		display: flex;
		flex-flow: column;
		gap: 50px;
		margin-bottom: 50px;
	}
	.info-block-title{
		font-family: "FuturaDemiC";
		font-size: 24px;
		margin-bottom: 8px;
	}
	.info-block-title.lower{
		font-size: 24px;
	}
	.info-block-text{
		font-family: "FuturaBookC";
		font-size: 16px;
	}
	.info-title{
		text-align: center;
		display: flex;
		justify-content: center;
		font-family: "FuturaDemiC";
		font-size: 40px;
		margin-bottom: 20px;
	}
}